
.text-left{
    text-align: left;
}
.text-center{
    text-align: center!important;
}
.text-right{
    text-align: right;
}

.ffy-hero-page{
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.ffy-hero-page .ffy-hero-wrapper{
    overflow: hidden;
    border-bottom-left-radius: 90% 15%;
    border-bottom-right-radius: 90% 15%;
}

.ffy-hero-page .responsive-image{
    display: block;
    font-size: 0;
}

.ffy-hero-page .responsive-image img{
    height: 40rem;
    object-fit: cover;
}

.ffy-hero-page .bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    border-bottom-left-radius: 90% 15%;
    border-bottom-right-radius: 90% 15%;
}

.ffy-hero-page .wrapper{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
}

.ffy-hero-page .wrapper .row{
    height: inherit;
    justify-content: flex-start;
    align-items: center;
}

.ffy-hero-page .copy-content h1{
    font-family: fsAlberta;
    color: #ffffff;
    font-size: 4.4rem;
    letter-spacing: -.2px;
    text-align: left;
}

.ffy-hero-page .copy-content h1 > span{
    font-family: MarydaleRegular,Arial,sans-serif;
    font-size: 6.1rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    line-height: 1;
}

.ffy-hero-page .copy-content h1 > span img{
    position: absolute;
    bottom: -2rem;
    left: 0.5rem;
    width: 100%;
    max-width: 12rem;
    object-fit: contain;
    height: 100%;
}

.ffy-hero-page .copy-content p {
    font-size: 1.6rem;
    color: #ffffff;
    display: inline-block;
}
.ffy-hero-page .copy-content p a{
    text-decoration: none;
    color: inherit;
    outline: none;
}
.ffy-hero-page .copy-content p .responsive-image{
    display: inline-block;
    line-height: 1rem;
    vertical-align: middle;
}
.ffy-hero-page .copy-content p .responsive-image img{
    height: 1.7rem;
    width: auto;
}


.ffy-tools{
    position: relative;
    top: 0;
    margin-top: -10rem;
}

.ffy-tools h3{
    color: #ffffff;
    margin-bottom: 1.5rem;
}

#ffy-tools-wrapper{
    box-shadow: 0 0 10px rgba(112,122,112,.5);
    border-radius: .75rem;
    /* overflow: hidden; */
    position: relative;
    box-sizing: border-box;
}

#ffy-tools-wrapper .tools-list{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: grid;
    max-width: 90vw;
    transition: background-color .5s;
    grid-template-columns: repeat(4,14rem);
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

#ffy-tools-wrapper .tools-list::-webkit-scrollbar{
    display: none;
}

#ffy-tools-wrapper ul{
    list-style: none;
    padding: 1rem;
    margin: 0;
}

#ffy-tools-wrapper ul li{
    display: grid;
    opacity: .7;
    position: relative;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr;
}
#ffy-tools-wrapper ul li.active{
    opacity: 1;
}

#ffy-tools-wrapper ul li picture:hover,
#ffy-tools-wrapper ul li p:hover{
    cursor: pointer;
}
#ffy-tools-wrapper ul li img{
    width: 3.2rem;
}

#ffy-tools-wrapper ul li p{
    margin: .5rem 0;
    line-height: 1.3;
    font-size: 1.4rem;
}

#ffy-tools-wrapper .tools-content{
    padding: 1rem 2rem;
    min-height: 10rem;
    background: #ffffff;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
}
#ffy-tools-wrapper .tools-content > div{
    transition: opacity .3s;
    opacity: 1;
}
#ffy-tools-wrapper .tools-content > div.hidden{
    opacity: 0;
    display: none;
}


/**
THEMESSSSS
*/
#ffy-tools-wrapper ul li span.border{
    position: absolute;
    left: 0;
    bottom: -1rem;
    width: 10%;
    border-radius: 1rem;
    transition: width .3s;
    border-bottom: 4px solid transparent;
}
#ffy-tools-wrapper ul li.active span.border{
    width: 100%;
}

#ffy-tools-wrapper[data-theme="immunisation"] .tools-list{
    background-color: #93D5F7;
}
#ffy-tools-wrapper[data-theme="immunisation"] ul li.active span.border{
    border-color: #55B2EF;
}

#ffy-tools-wrapper[data-theme="poo-meter"] .tools-list{
    background-color: #98D2D6;
}
#ffy-tools-wrapper[data-theme="poo-meter"] ul li.active span.border{
    border-color: #5BADB3;
}

#ffy-tools-wrapper[data-theme="baby-reality"] .tools-list{
    background-color: #B1BEF3;
}
#ffy-tools-wrapper[data-theme="baby-reality"] ul li.active span.border{
    border-color: #7B8EE7;
}

#ffy-tools-wrapper[data-theme="pregnancy-calculator"] .tools-list{
    background-color: #EEC9D7;
}
#ffy-tools-wrapper[data-theme="pregnancy-calculator"] ul li.active span.border{
    border-color: #E591AD;
}

@media screen and (min-width: 768px){
    #ffy-tools-wrapper ul li{
        gap: 1rem;
        text-align: left;
        grid-template-columns: 3rem auto;
    }
    #ffy-tools-wrapper ul li p{
        font-size: 1.6rem;
    }
    #ffy-tools-wrapper .tools-list{
        grid-template-columns: repeat(4,1fr);
    }
}


@media screen and (min-width: 1024px) {
    .ffy-hero-page{
        flex-direction: flex-start;
    }
    .ffy-hero-page .ffy-hero-wrapper{
        position: relative;
        width: 100%;
    }
    .ffy-hero-page .wrapper,
    .ffy-tools .wrapper{
        padding: 0;
        max-width: 84.4rem;
    }

    .ffy-tools .row{
        justify-content: flex-start;
    }
    .ffy-tools .row .col-10{
        max-width: 67.5rem;
    }
}